os:
  - linux
  - osx
language: node_js
node_js:
  - "10"
dist: trusty
sudo: false

addons:
  apt:
    packages:
      - rpm

env:
  global:
    - ELECTRON_CACHE=$HOME/.cache/electron
    - ELECTRON_BUILDER_CACHE=$HOME/.cache/electron-builder

install:
  - npm install

script:
  # - npm run rebuild
  - npm run release

cache:
  directories:
    - node_modules
    - $HOME/.cache/electron
    - $HOME/.cache/electron-builder
    - $HOME/.npm/_prebuilds

notifications:
  email:
    on_success: never
    on_failure: change
