<div class="book">
  <div class="header grid">
    <!-- <div class="header-cell "> left header </div> -->
    <!-- <div class="header-cell "> right header </div> -->
  </div>

<div class="page grid grid-cols-2 bg-white">
    <div id="src" class="px-10 py-6 mb-10 text-left">
    </div>
    <div id="trn" class="px-10 py-6 mb-10 text-left shadow-xl">
    </div>
</div>

<div id="ok" class="hidden">
  <svg  class="h-8 w-8 text-red-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M5 13l4 4L19 7" />
  </svg>
</div>
</div>
