<div class="text-gray-900 bg-gray-200 page">

  <div class="mt-8 p-4 ">
    <h1 class="text-3xl">Look up book heap:</h1>

  <div id="package" class="flex flex-col bg-white shadow-md rounded m-4">
    <div class="tr-header table-line flex border-b" type="dir">
      <div class="w-40 left p-3 flex-grow-0 font-bold">book heap:</div>
      <div id="heappath" class="p-3 flex-grow"></div>
    </div>
  </div>

    <div id="prefs-table" class="flex flex-col bg-white shadow-md rounded m-4">
    <div class="tr-header flex border-b">
      <div class="w-40 left p-3 flex-grow-0 font-bold">name</div>
      <div class="p-3 flex-grow  font-bold">value</div>
    </div>
    <div class="tbody">
    </div>
    <div class="flex justify-between">
      <div class="w-32 font-bold p4 m4">
      </div>
      <div class="m-8">
        <button type="button" class="create-package mr-3 text-sm bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline">create package</button>
      </div>
    </div>
  </div>

</div>

<div class="table-line flex tmpl lib border-b">
  <div class="td-name w-40 p-3 px-5 flex-grow-0"></div>
  <div class="td-value p-3 maroon flex-grow "></div>
</div>
