<div class="m-auto">
  <div class="bg-white rounded-lg border-gray-300 border p-2 shadow-lg">
    <div class="flex flex-row">
      <div class="px-2">
        <svg class="h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
      </div>
      <div class="ml-2 mr-6">
        <span id="message-text" class="font-semibold">Successfully Saved!</span>
      </div>
    </div>
  </div>
</div>
