<div class="text-gray-900 bg-gray-200 page">

  <div class="mt-8 p-4 ">
    <h1 class="text-3xl">Search results:</h1>
    <p class="p-4 search-query">query: <span id="search-query" class="font-bold">query</span></p>
  </div>

  <!-- <div id="search-list-container" > -->
    <div id="search-list" class="w-full text-md bg-white shadow-md rounded mb-4">
    </div>

    <div class="tmpl list-line flex flex-row items-center flex-nowrap border-b hover:bg-orange-100 bg-gray-100">
      <div class="line-block overflow-hidden w-full p-3 px-5 flex flex-col" >
        <div class="line-head font-bold text-lg mb-1 maroon group-hover:text-white">
          <span class="line-author">Author-tmpl</span> -
          <span class="line-title">Title-tmpl</span> -
          <span class="line-sname">Sname-tmpl</span>
        </div>
        <div class="block truncate text-grey-darker mb-2 group-hover:text-white line-text">text text text text text text text text text text text text text text text text text text text  </div>
      </div>
    </div>

  <!-- </div> -->
</div>
