<div class="semaphore flex justify-between">
  <span id="em-semaphore" class="em-semaphore px-4 w-48">sema</span>
  <div class="em-center flex justify-center">
    <span id="em-src-size" class="em-src-size w-6 text-right">left</span>
    <span class="em-big-circle px-2">
      <svg class="h-6 w-6 text-gray-500 svg-circle" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <circle id="em-big-circle"  r="12" cx="12" cy="12" fill="red" />
      </svg>
    </span>
    <span id="em-trn-size" class="em-trn-size w-6 text-left">right</span>
  </div>
  <div id="em-save" class="em-save px-4 w-48">
    save: <span id="em-lang-origin" class="em-save px-1">lang</span> / <span id="em-lang-shown" class="em-save px-1">lang</span>
  </div>
</div>
