html,
body {
  height: 100%;
  padding-left: 10px;
  margin: 0;
  line-height: 1.5;
  background: none repeat scroll 0 0 #ffffee;
  font-family: 'Source Sans Pro', sans-serif;
}

#container {
  margin: 0;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

h2 {
    color: maroon;
}

b {
    color: maroon;
}

#bookImg {
    float: left;
    padding: 25px;
}

ul {
    list-style: none;
}

ul.about li:before {
    content:  "—";
    position: relative;
    left:     -5px;
}

.external {
    color: maroon;
    cursor: pointer;
}

#new-version {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    padding-left: 10px;
    color: green;
    cursor: pointer;
}

#arrows {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100px; /* Need a specific value to work */
}

.arrow {
    width: 35px;
    cursor: pointer;
}

.progress {
    display: none;
    width: 100px;
    padding-bottom: 10px
}
