/* @import "./treeview.min.css" */

h4 {
  color: maroon;
}

.is-shown {
    display: block!important;
}

.is-hidden {
    display: none;
}

#main {
    margin: 0;
    padding: 10px;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

#home {
    padding-top: 100px;
}

#title {
    margin: 0;
    padding: 10px;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.section {
    margin: 5px;
    display: none;
}

.split {
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100%;
    width: 5px;
}

.gutter.gutter-horizontal {
    background-image: url('../../resources/vertical.png');
    cursor: ew-resize;
}

.split, .gutter.gutter-horizontal {
    height: 100%;
    float: left;
}

#booksource {
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-size: 14px;
    padding-left: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 50px;
    overflow-y: hidden;
    /* overflow-x: hidden; */
}

#booktrns {
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-size: 14px;
    padding-left: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 50px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.link {
    cursor: pointer;
}

.clause {
    background-color: #eee;
}


/* span { */
    /* padding-right: 5px; */
/* } */

span.space {
    padding-right: 0;
}

span.greek {
    padding-right: 0;
}

span.term {
    padding-right: 0;
}

span.greek:hover {
    background-color: #eee8aa;
}

.grey {
    color: grey;
}

li.hidden {
  display: none;
}

.hidden {
    display: none; /* !important */;
}

.activetrn {
    display: block!important;
}

input[type='file'] {
    color: transparent;
}

.maroon {
    color: maroon;
}

/* span.clear { clear: left; display: block; } */

#book {
  padding-top: 0;
  margin: 0;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

#headers {
  margin: 0;
  height: 30px;
}

#headers > p {
  margin: 0;
  -webkit-margin-before: 0;
}

#trns > p.hidden {
  display: none;
}

.hleft {
  cursor: pointer;
  position: absolute;
  top: 10px;
  /* padding-left: 15px; */
  padding-right: 15px;
  color: maroon;
}

.hright {
  cursor: pointer;
  position: absolute;
  top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: maroon;
}

.header {
  box-shadow: 0.15em 0.15em 1em rgba(0, 0, 0, 0.75);
  background: white;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

/* #headers { */
/*   height: 16px; */
/*   padding-bottom: 10px; */
/* } */

#book > div.hright > ul  {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

#book {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

.bookTitle {
  margin-top: 80px;
  margin-left: 50px;
}

.author {
  font-size: 18px;
}

.title {
  color: maroon;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.check-name {
  padding-left: 5px;
}

span.active {
  cursor: pointer;
}

span.query {
    cursor: pointer;
    color: maroon;
    font-weight: bold;
}

.libauth {
  padding-top: 25px;
  cursor: pointer;
}

.lib-auth {
  padding: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 16px;
  color: maroon;
}

.lib-auth::after {
  content: ':'
}

.lib-title {
  padding: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 16px;
}

.book-content {
  padding-left: 10px;
  font-size: 18px;
  color: maroon;
}

/* #book > div.hleft.header > div > div:nth-child(2) */
div.hleft.header > div.tree {
  /* display: none; */
}

.qlink {
  padding-right: 15px;
  color: maroon;
  cursor: pointer;
}

.qtext {
  padding-left: 15px;
}

/* #source > div:nth-child(2) > p:nth-child(4) */
/* #source > div:nth-child(2) > div > p:nth-child(2) */
div.qtext > p.hidden {
  display: none;
}

.disclaimer {
  font-size: 10px;
  }

.qtitle {
  color: maroon;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.statline {
    padding-left: 25px;
}

.statnic {
    width: 150px;
}

.statnic::after {
    content: ': ';
}

.green {
    color: green;
}

.red {
    color: red;
}
