/* @import "./treeview.min.css" */

#main {
    margin: 0;
    padding: 10px;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.split {
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100%;
    width: 5px;
}

.gutter.gutter-horizontal {
    background-image: url('../../resources/vertical.png');
    cursor: ew-resize;
}

.split, .gutter.gutter-horizontal {
    height: 100%;
    float: left;
}

#source {
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-size: 14px;
    padding-left: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    /* -webkit-app-region: drag; */
    overflow-y: hidden;
    /* overflow-x: hidden; */
}

#trns {
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-size: 14px;
    padding-left: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    /* margin-top: -50px; */
    overflow-y: hidden;
    overflow-x: hidden;
}


#hsource_ {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 16px;
  /* padding: 15px; */
  margin-top: 15px;
  margin-bottom: 25px;
  /* padding: 50px; */
  padding-top: 15px;
  padding-bottom: 25px;
  /* -webkit-app-region: drag; */
  overflow-y: hidden;
  /* overflow-x: hidden; */
}

#thrns_ {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 14px;
  padding-left: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  /* margin-top: -50px; */
  overflow-y: hidden;
  overflow-x: hidden;
}

.link {
    cursor: pointer;
}

.clause {
    background-color: #eee;
}


/* span { */
    /* padding-right: 5px; */
/* } */

span.space {
    padding-right: 0;
}

span.greek {
    padding-right: 0;
}

span.term {
    padding-right: 0;
}

span.greek:hover {
    background-color: #eee8aa;
}

.grey {
    color: grey;
}

li.hidden {
  display: none;
}

.hidden {
  display: 'none';  /* !important */;
}

input[type='file'] {
    color: transparent;
}

.maroon {
    color: maroon;
}

/* span.clear { clear: left; display: block; } */

#book {
  padding-top: 0;
  margin: 0;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

#headers {
  margin: 0;
  height: 25px;
}

#headers > p {
  margin: 0;
  -webkit-margin-before: 0;
}

#trns > p.hidden {
  display: none;
}

/* .hleft { */
/*   float: left; */
/* } */

.hright {
  cursor: pointer;
  position: absolute;
  top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: maroon;
}

.header {
  box-shadow: 0.15em 0.15em 1em rgba(0, 0, 0, 0.75);
  background: white;
}

#headers {
  height: 16px;
  padding-bottom: 10px;
}

#book > div.hright > ul  {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

#book {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

.bookTitle {
  margin-top: 80px;
  margin-left: 50px;
}

.author {
  font-size: 18px;
}

.title {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}

span.active {
  cursor: pointer;
}

/* #lib { */
/*   margin-left: 150px; */
/*   margin-top: 100px; */
/*   cursor: pointer; */
/* } */

.libauth {
  cursor: pointer;
}

.lib-auth {
  padding: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 16px;
  color: maroon;
}

.lib-auth::after {
  content: ':'
}

.lib-title {
  padding: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 16px;
}
