.tree-text,
.tree-leaf {
    padding-left: 20px;
    cursor: pointer;
}

.tree-branch {
    margin-left: 5px;
    /* padding-left: 10px; */
}

.tree-sign {
    position: relative;
    /* margin-left: 20px; */
    margin-left: 5px;
    margin-right: 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tbody {
    padding-left: 15px;
}
/* .tree-text::before{ */
/*   position: absolute; */
/*   top: 0px; */
/*   left: 0px; */
/*   font-size: 1em; */
/*   content: '▾'; */
/* } */

ul.tree-list {
  margin: 0px;
  padding: 0px;
  line-height: 1.5;
  font-size: 18px;
  /*useful for draggable*/
  min-height: 5px;
}
.tree-list > li {
  list-style: none;
}
.tree-collapse > ul {
  display: none;
}
.tree-collapse > div {
  display: none;
}
.tree-collapse .tree-text::before {
  content: '▸';
}
/* .tree-branch { */
/*   -webkit-touch-callout: none; */
/*   -webkit-user-select: none; */
/*   -khtml-user-select: none; */
/*   -moz-user-select: none; */
/*   -ms-user-select: none; */
/*   user-select: none; */
/* } */
